body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

.slider {
  width: 560px;
}

#largeImg {
  border: solid 1px #ccc;
  width: 550px;
  height: 400px;
  padding: 5px;
}

#thumbs {
  display: flex;
  & > div {
    border: solid 1px #ccc;
    width: 100px;
    height: 100px;
    padding: 3px;
    margin: 2px;
    &:hover {
      border-color: #f90;
    }
  }
}
